<h1 class="ui header">
    <i class="circular inbox icon"></i>
    <div class="content">
        {{ 'sylius_refund.ui.credit_memo'|trans }} <span id="credit-memo-number">{{ credit_memo.number }}</span>
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item">
                    {{ 'sylius_refund.ui.issued_for_order'|trans }}: #{{ credit_memo.order.number }}
                </div>
                <div class="item">
                    {{ 'sylius_refund.ui.issued_from'|trans }}
                    <span class="ui large empty horizontal circular label" style="background-color: {{ credit_memo.channel.color }}"></span> <strong id="credit-memo-channel-name">{{ credit_memo.channel.name }}</strong>
                </div>
            </div>
        </div>
    </div>
</h1>
