{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}
{% import "@SyliusUi/Macro/buttons.html.twig" as buttons %}

{% if creditMemos|length > 0 %}
<div class="ui segment" id="credit-memos">
    <h3 class="ui dividing header">{{ 'sylius_refunds.ui.credit_memos'|trans }}</h3>
    <table class="ui celled compact small table fixed">
        <thead>
            <tr>
                <th>{{ 'sylius.ui.number'|trans }}</th>
                <th>{{ 'sylius.ui.total'|trans }}</th>
                <th>{{ 'sylius.ui.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for creditMemo in creditMemos %}
            <tr>
                <td>{{ creditMemo.number }}</td>
                <td>{{ money.format(creditMemo.total, creditMemo.currencyCode) }}</td>
                <td class="aligned collapsing">
                    {{ buttons.default(
                        path('sylius_refund_credit_memo_details', {'orderNumber': creditMemo.orderNumber, 'id': creditMemo.id}),
                        'sylius.ui.show',
                        null,
                        'eye',
                        'green'
                    ) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
