<html lang="en">
<head>
    <meta charset="UTF-8" />
    <style>
        table { width: 100%; }
        tbody td { border: 1px solid #000; }
    </style>
</head>
<body>
<h1>{{ 'sylius_refund.ui.credit_memo'|trans }} #{{ creditMemo.number }}</h1>
<p>{{ 'sylius_refund.ui.order_number'|trans }}: #{{ creditMemo.orderNumber }}</p>

{% if creditMemo.from != null or creditMemo.to != null %}
    <br /><br />
    {% if creditMemo.from != null %}
    <p>
        {% set from = creditMemo.from %}
        <h4>{{ 'sylius_refund.ui.from'|trans }}</h4>
        <address>
            <strong>{{ from.customerName }}</strong>
            {% if from.company %}
                {{ from.company }}
            {% endif %}
            <br/>{{ from.street }}<br/>
            {{ from.city }}<br/>
            {% if from.provinceName is not empty %}
                {{ from.provinceName }}<br/>
            {% endif %}
            <i class="{{ from.countryCode|lower }} flag"></i>
            {{ from.countryCode|sylius_country_name|upper }} {{ from.postcode }}
        </address>
    </p>
    {% endif %}
    {% if creditMemo.to != null and creditMemo.to.taxId != null %}
    <p>
        {% set to = creditMemo.to %}
        <h4>{{ 'sylius_refund.ui.to'|trans }}</h4>
        <address>
            <strong>{{ to.company }}</strong>
            {{ to.taxId }}<br/>
            {{ to.city }}<br/>
            {{ to.street }}<br/>
            <i class="{{ to.countryCode|lower }} flag"></i>
            {{ to.countryCode|sylius_country_name|upper }} {{ to.postcode }}
        </address>
    </p>
    {% endif %}
{% endif %}

<table>
    <thead>
    <tr>
        <th align="left">{{ 'sylius.ui.name'|trans }}</th>
        <th align="left">{{ 'sylius.ui.tax_total'|trans }}</th>
        <th align="left">{{ 'sylius.ui.total'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for unit in creditMemo.units %}
        <tr>
            <td>
                {{ unit.productName }}
            </td>
            <td>
                {{ unit.taxesTotal|sylius_format_money(creditMemo.currencyCode, creditMemo.localeCode) }}
            </td>
            <td>
                {{ unit.total|sylius_format_money(creditMemo.currencyCode, creditMemo.localeCode) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if creditMemo.comment != '' %}
    <tr>
        <td>
            <strong>{{ 'sylius.ui.comment'|trans }}</strong>:
        </td>
        <td>
            {{ creditMemo.comment }}
        </td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2" style="text-align: right;">
            <strong>{{ 'sylius.ui.total'|trans }}</strong>:
        </td>
        <td>
            {{ creditMemo.total|sylius_format_money(creditMemo.currencyCode, creditMemo.localeCode) }}
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>
