{% set to = creditMemo.to %}
{% set from = creditMemo.from %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        .credit-memo { max-width: 800px; margin: auto; padding: 30px; border: 1px solid #eee; box-shadow: 0 0 10px rgba(0, 0, 0, .15); font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555 }
        .credit-memo table { width: 100%; line-height: inherit; text-align: left; }
        .credit-memo table td { padding: 5px; vertical-align: top; text-align: right; }
        .credit-memo table tr td:nth-child(1) { text-align: left; }
        .credit-memo table tr.top table td { padding-bottom: 20px; }
        .credit-memo table tr.top table td.title { font-size: 45px; line-height: 45px; color: #333; }
        .credit-memo table tr.information table td { padding-bottom: 40px; }
        .credit-memo table tr.heading td { background: #eee; border-bottom: 1px solid #ddd; font-weight: bold; }
        .credit-memo table tr.details td { padding-bottom: 20px; }
        .credit-memo table tr.item td{ border-bottom: 1px solid #eee; }
        .credit-memo table tr.item.last td { border-bottom: none; }
        .credit-memo table tr.total td { border-top: 2px solid #eee; font-weight: bold; }
    </style>
</head>

<body>
<div class="credit-memo">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="3">
                <table>
                    <tr>
                        <td colspan="2" class="title">
                            <img src="https://demo.sylius.com/assets/shop/img/logo.png" style="width:300px;">
                        </td>

                        <td>
                            Credit memo #{{ creditMemo.number }}<br>
                            Issued at: {{ creditMemo.issuedAt|date('Y-m-d H:i:s') }}<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        {% if from != null or to != null %}
        <tr class="information">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                            {% if to != null %}
                                {% if to.company %}<strong>{{ to.company }}</strong><br/>{% endif %}
                                {% if to.street %}{{ to.street }}<br/>{% endif %}
                                {% if to.city %}{{ to.city }}<br/>{% endif %}
                                {% if to.taxId %}{{ to.taxId }}<br/>{% endif %}
                                {% if to.countryCode and to.postcode %}
                                    {{ to.countryCode|sylius_country_name|upper }} {{ to.postcode }}
                                {% endif %}
                            {% endif %}
                        </td>

                        <td>
                            <strong>{{ from.customerName }}</strong><br/>
                            {% if from.company %}{{ from.company }}<br/>{% endif %}
                            {{ from.street }}<br/>
                            {{ from.city }}<br/>
                            {% if from.provinceName %}{{ from.provinceName }}{% endif %}
                            {{ from.countryCode|sylius_country_name|upper }} {{ from.postcode }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endif %}

        <tr class="heading">
            <td>{{ 'sylius.ui.item'|trans }}</td>
            <td>{{ 'sylius.ui.total'|trans }}</td>
            <td>{{ 'sylius.ui.tax_total'|trans }}</td>
        </tr>

        {% for unit in creditMemo.units %}
        <tr class="item">
            <td>{{ unit.productName }}</td>
            <td>{{ unit.total|sylius_format_money(creditMemo.currencyCode, creditMemo.localeCode) }}</td>
            <td>{{ unit.taxesTotal|sylius_format_money(creditMemo.currencyCode, creditMemo.localeCode) }}</td>
        </tr>
        {% endfor %}

        {% if creditMemo.comment != null %}
        <tr class="total">
            <td colspan="3"><p>{{ creditMemo.comment }}</p></td>
        </tr>
        {% endif %}

        <tr class="total">
            <td colspan="2"></td>
            <td>{{ 'sylius.ui.total'|trans }}: {{ creditMemo.total|sylius_format_money(creditMemo.currencyCode, creditMemo.localeCode) }}</td>
        </tr>
    </table>
</div>
</body>
</html>
