{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

{% block title %}{{ 'sylius.ui.order'|trans ~' #'~ order.number }} {{ 'sylius_refund.ui.refunds'|trans }} {{ parent() }}{% endblock %}

{% set customer = order.customer %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            <h1 class="ui header">
                <i class="circular cart icon"></i>
                <div class="content">
                    {{ 'sylius.ui.order'|trans }} #{{ order.number }} - {{ 'sylius_refund.ui.refunds'|trans }}
                    <div class="sub header">
                        <div class="ui horizontal divided list">
                            <div class="item">
                                {{ order.checkoutCompletedAt|format_datetime }}
                            </div>
                            <div class="item" id="sylius-order-state">
                                {% include [('@SyliusAdmin/Order/Label/State' ~ '/' ~ order.state ~ '.html.twig'), '@SyliusUi/Label/_default.html.twig'] with {'value': ('sylius.ui.' ~ order.state)|trans} %}
                            </div>
                            <div class="item" id="sylius-order-currency">
                                {{ order.currencyCode }}
                            </div>
                            <div class="item">
                                {{ flags.fromLocaleCode(order.localeCode) }}{{ order.localeCode|locale }}
                            </div>
                            <div class="item">
                                {{ 'sylius.ui.purchased_from'|trans }}
                                <span class="ui large empty horizontal circular label" style="background-color: {{ order.channel.color }}"></span> <strong>{{ order.channel }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </h1>
        </div>
    </div>

    {% include '@SyliusAdmin/Order/Show/_breadcrumb.html.twig' %}

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui segment">
                <div id="refund-all" class="ui checkbox" style="float: right; margin-bottom: 20px;">
                    <input type="checkbox">
                    <label>{{ 'sylius_refund.ui.refund_all'|trans }}</label>
                </div>
                <form action="{{ path('sylius_refund_refund_units', {'orderNumber': app.request.attributes.get('orderNumber')}) }}" method="post">
                    <table id="refunds" class="ui compact celled definition table">
                        <thead>
                            <tr>
                                <th class="wide sylius-table-column-item">{{ 'sylius.ui.order_item_product'|trans }}</th>
                                <th class="center aligned sylius-table-column-total">{{ 'sylius.ui.total'|trans }}</th>
                                <th class="center aligned">{{ 'sylius_refund.ui.partial_refund'|trans }}</th>
                                <th class="center aligned"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set unitNumber = 0 %}
                        {% for item in order.items %}
                            {% for unit in item.units %}
                                {% set variant = item.variant %}
                                {% set product = variant.product %}

                                <tr class="unit">
                                    <td class="single line">
                                        {% include '@SyliusAdmin/Product/_info.html.twig' %}
                                    </td>
                                    <td class="right aligned total">
                                        {{ money.format(unit.total, order.currencyCode) }}
                                        {% set refundedTotal = unit_refunded_total(unit.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::ORDER_ITEM_UNIT')) %}
                                        {% if refundedTotal != 0 %}
                                        <br/><strong>{{ 'sylius_refund.ui.refunded'|trans }}:</strong> <span class="unit-refunded-total">{{ money.format(refundedTotal, order.currencyCode) }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="aligned collapsing partial-refund">
                                        {% set inputName = "sylius_refund_units["~unitNumber~"][amount]" %}
                                        {% set hiddenInputName = "sylius_refund_units["~unitNumber~"][partial-id]" %}

                                        <div class="ui labeled input">
                                            <div class="ui label">{{ order.currencyCode|sylius_currency_symbol }}</div>
                                            <input type="text" name="{{ inputName }}" {% if not can_unit_be_refunded(unit.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::ORDER_ITEM_UNIT')) %} disabled{% endif %}/>
                                            <input type="hidden" name="{{ hiddenInputName }}" value="{{ unit.id }}"/>
                                        </div>
                                    </td>
                                    <td class="aligned collapsing">
                                        <div class="ui checkbox {% if not can_unit_be_refunded(unit.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::ORDER_ITEM_UNIT')) %} disabled{% endif %}">
                                            {% set checkboxName = "sylius_refund_units["~unitNumber~"][id]" %}
                                            <input type="checkbox" name="{{ checkboxName }}" value="{{ unit.id }}">
                                        </div>
                                    </td>
                                </tr>
                                {% set unitNumber = unitNumber + 1 %}
                            {% endfor %}
                        {% endfor %}
                        {% if order.getAdjustments('shipping')|length > 0 %}
                            {% set shipment = order.getAdjustments('shipping').first() %}
                            <tr class="shipment">
                                <td class="single line">
                                    {{ 'sylius.ui.shipment'|trans }}: {{ shipment.label }}
                                </td>
                                <td class="right aligned total">
                                    {{ money.format(shipment.amount, order.currencyCode) }}
                                    {% set refundedTotal = unit_refunded_total(shipment.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::SHIPMENT')) %}
                                    {% if refundedTotal != 0 %}
                                        <br/><strong>{{ 'sylius_refund.ui.refunded'|trans }}:</strong> <span class="unit-refunded-total">{{ money.format(refundedTotal, order.currencyCode) }}</span>
                                    {% endif %}
                                </td>
                                <td class="aligned collapsing partial-refund">
                                    {% set inputName = "sylius_refund_shipments[0][amount]" %}
                                    {% set hiddenInputName = "sylius_refund_shipments[0][partial-id]" %}

                                    <div class="ui labeled input">
                                        <div class="ui label">{{ order.currencyCode|sylius_currency_symbol }}</div>
                                        <input type="text" name="{{ inputName }}" {% if not can_unit_be_refunded(shipment.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::SHIPMENT')) %} disabled{% endif %}/>
                                        <input type="hidden" name="{{ hiddenInputName }}" value="{{ shipment.id }}"/>
                                    </div>
                                </td>
                                <td class="aligned collapsing">
                                    <div class="ui checkbox {% if not can_unit_be_refunded(shipment.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::SHIPMENT')) %} disabled{% endif %}">
                                        <input type="checkbox" name="sylius_refund_shipments[0][id]" value="{{ shipment.id }}">
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    {% set original_payment_method = order.payments.first().method %}
                    <label for="payment-methods" style="font-weight: bold;">{{ 'sylius.ui.payment_method'|trans }} ({{ 'sylius.ui.original_payment_method'|trans }}: {{ original_payment_method }})</label>
                    <select id="payment-methods" name="sylius_refund_payment_method" class="ui fluid selection dropdown" style="margin-top: 10px;">
                        {% for payment_method in payment_methods %}
                            <option value="{{ payment_method.id }}" {{ (payment_method.code == original_payment_method.code) ? 'selected' : '' }}>{{ payment_method.name }}</option>
                        {% endfor %}
                    </select>

                    <br/>

                    <div class="ui form">
                        <label for="sylius-refund-comment">{{ 'sylius.ui.comment'|trans }}</label>
                        <textarea rows="3" name="sylius_refund_comment" id="sylius-refund-comment"></textarea>
                    </div>

                    <br/>

                    <div class="ui buttons">
                        <a id="back" href="{{ path('sylius_admin_order_show', {'id': order.id}) }}" class="ui button">{{ 'sylius.ui.back'|trans }}</a>
                        <div class="or"></div>
                        <button class="ui primary button" type="submit">{{ 'sylius.ui.refund'|trans }}</button>
                    </div>

                    <br/><br/>

                    <h3 id="refunded-total">
                        {{ 'sylius_refund.ui.refunded_total'|trans }}:
                        {{ money.format(order_refunded_total(order.number), order.currencyCode) }}
                    </h3>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#refund-all').checkbox({
                onChecked: function() { $('td .checkbox:not(.disabled)').checkbox('check'); },
                onUnchecked: function() {
                    if ($('td .checkbox:not(.checked)').length == 0) {
                        $('td .checkbox:not(.disabled)').checkbox('uncheck');
                    }
                }
            });

            $('td .checkbox').checkbox({
                onUnchecked: function() { $('#refund-all').checkbox('uncheck'); }
            })
        });
    </script>
{% endblock %}
