{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

{% block title %}{{ 'sylius.ui.order'|trans ~' #'~ order.number }} {{ 'sylius_refunds.ui.refunds'|trans }} {{ parent() }}{% endblock %}

{% set customer = order.customer %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            <h1 class="ui header">
                <i class="circular cart icon"></i>
                <div class="content">
                    {{ 'sylius.ui.order'|trans }} #{{ order.number }} - {{ 'sylius_refunds.ui.refunds'|trans }}
                    <div class="sub header">
                        <div class="ui horizontal divided list">
                            <div class="item">
                                {{ order.checkoutCompletedAt|format_datetime }}
                            </div>
                            <div class="item" id="sylius-order-state">
                                {% include [('@SyliusAdmin/Order/Label/State' ~ '/' ~ order.state ~ '.html.twig'), '@SyliusUi/Label/_default.html.twig'] with {'value': ('sylius.ui.' ~ order.state)|trans} %}
                            </div>
                            <div class="item" id="sylius-order-currency">
                                {{ order.currencyCode }}
                            </div>
                            <div class="item">
                                {{ flags.fromLocaleCode(order.localeCode) }}{{ order.localeCode|locale }}
                            </div>
                            <div class="item">
                                {{ 'sylius.ui.purchased_from'|trans }}
                                <span class="ui large empty horizontal circular label" style="background-color: {{ order.channel.color }}"></span> <strong>{{ order.channel }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </h1>
        </div>
    </div>

    {% include '@SyliusAdmin/Order/Show/_breadcrumb.html.twig' %}

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui segment">
                <form>
                    <table id="refunds" class="ui compact celled definition table">
                        <thead>
                            <tr>
                                <th class="wide sylius-table-column-item">{{ 'sylius.ui.order_item_product'|trans }}</th>
                                <th class="center aligned sylius-table-column-total">{{ 'sylius.ui.total'|trans }}</th>
                                <th class="center aligned"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in order.items %}
                            {% for unit in item.units %}
                                {% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

                                {% set variant = item.variant %}
                                {% set product = item.variant.product %}

                                <tr class="unit">
                                    <td class="single line">
                                        {% include '@SyliusAdmin/Product/_info.html.twig' %}
                                    </td>
                                    <td class="right aligned total">
                                        {{ money.format(item.total, order.currencyCode) }}
                                    </td>
                                    <td class="aligned collapsing">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="unit_{{ unit.id }}">
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>

                    <button class="ui primary button" type="submit">{{ 'sylius.ui.refund'|trans }}</button>

                    <br/><br/>

                    <h3>{{ 'sylius_refunds.ui.refunded_total'|trans }}: $0.00</h3>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
