{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import '@SyliusAdmin/Common/Macro/money.html.twig' as money %}

{% block title %}{{ 'sylius.ui.order'|trans ~' #'~ order.number }} {{ 'sylius_refund.ui.refunds'|trans }} {{ parent() }}{% endblock %}

{% set customer = order.customer %}

{% block content %}
    {% include '@SyliusRefundPlugin/_header.html.twig' %}
    {% include '@SyliusAdmin/Order/Show/_breadcrumb.html.twig' %}

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui segment">
                <div class="ui right aligned basic segment">
                    <button data-refund-clear type="button" class="ui button">{{ 'sylius_refund.ui.clear_refunds'|trans }}</button>
                    <button data-refund-all type="button" class="ui button primary">{{ 'sylius_refund.ui.refund_all'|trans }}</button>
                </div>
                {% include '@SyliusRefundPlugin/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@SyliusRefundPlugin/_javascripts.html.twig' %}
{% endblock %}
