{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.order'|trans ~' #'~ order.number }} {{ 'sylius_refund.ui.refunds'|trans }} {{ parent() }}{% endblock %}

{% set customer = order.customer %}
{% set disableButton = order.paymentState == constant('Sylius\\Component\\Core\\OrderPaymentStates::STATE_REFUNDED') ? 'disabled' : '' %}

{% block content %}
    {% include '@SyliusRefundPlugin/_header.html.twig' %}
    {% include '@SyliusRefundPlugin/_breadcrumb.html.twig' %}

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="ui segment">
                {{ sylius_template_event('sylius_refund.admin.order.refund', _context) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@SyliusRefundPlugin/_javascripts.html.twig' %}
{% endblock %}
